* {
  box-sizing: border-box;
}
.flex-rows {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.flex {
  display: flex;
  gap: 6px;
}
ul li {
  list-style: none;
  display: block;
  margin-bottom: 6px;
  
}
li>label{
  display: flex;
  padding: 4px;
  gap: 5px;
}
ul {
  padding-left: 0;
}
ul li>ul{
  padding-left: 10px;
}
.App > div {
  max-width: 400px;
  margin: 10vh auto 0;
}
li.category > label{
  background-color: #eee;
}
